<a href="https://colab.research.google.com/github/jun-hyeok/AAI3006-01_Machine-Learning_2021Spring/blob/main/ML_Assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ML - Assignment 6
2021.05.16
박준혁

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

사용한 data set은 [Medical Cost Personal Datasets](https://www.kaggle.com/mirichoi0218/insurance)이다.

In [2]:
%cd "/content/drive/MyDrive/Colab Notebooks/AAI3006-01_Machine-Learning_2021Spring/"
default_dir = "/content/drive/MyDrive/Colab Notebooks/AAI3006-01_Machine-Learning_2021Spring/"
# default_dir = ""
file = "insurance.csv"
df = pd.read_csv(default_dir+file)
df = df.dropna()

/content/drive/MyDrive/Colab Notebooks/AAI3006-01_Machine-Learning_2021Spring

In [3]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

## df columns (features and label)

### features

`age`: age of primary beneficiary

`sex`: insurance contractor gender, female, male

`bmi`: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
objective index of body weight ($kg / m ^ 2$) using the ratio of height to weight, ideally $18.5$ to $24.9$

`children`: Number of children covered by health insurance / Number of dependents

`smoker`: Smoking

`region`: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

### label

`charges`: Individual medical costs billed by health insurance

df column이 가진 dtype을 확인한다.


```
df.dtypes.unique()
```

In [4]:
print("data types of columns : {}".format(df.dtypes.unique()))

data types of columns : [dtype('int64') dtype('O') dtype('float64')]

dtype이 object인 column name을 확인한다.

```
df.columns[df.dtypes==object]
```

In [5]:
objs = df.columns[df.dtypes==object]
print("object type columns : {}".format(objs))

object type columns : Index(['sex', 'smoker', 'region'], dtype='object')

In [6]:
print(df["sex"].unique())
print(df["smoker"].unique())
print(df["region"].unique())

['female' 'male']
['yes' 'no']
['southwest' 'southeast' 'northwest' 'northeast']

linear regression에 이용할 numeric data를 위해 `sklearn.preprocessing.OridinalEncoder`를 이용해 object type data를 numeric type으로 바꾸어 준다.

In [7]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
sex = df["sex"].to_numpy().reshape(-1,1)
smoker = df["smoker"].to_numpy().reshape(-1,1)
region = df["region"].to_numpy().reshape(-1,1)
df_ = df.copy()
df_["sex"]= enc.fit_transform(sex).reshape(-1)
print(dict((cat, i) for i, cat in enumerate(enc.categories_[0])))
df_["smoker"]= enc.fit_transform(smoker).reshape(-1)
print(dict((cat, i) for i, cat in enumerate(enc.categories_[0])))
df_["region"]= enc.fit_transform(region).reshape(-1)
print(dict((cat, i) for i, cat in enumerate(enc.categories_[0])))
df_

{'female': 0, 'male': 1}
{'no': 0, 'yes': 1}
{'northeast': 0, 'northwest': 1, 'southeast': 2, 'southwest': 3}

      age  sex     bmi  children  smoker  region      charges
0      19  0.0  27.900         0     1.0     3.0  16884.92400
1      18  1.0  33.770         1     0.0     2.0   1725.55230
2      28  1.0  33.000         3     0.0     2.0   4449.46200
3      33  1.0  22.705         0     0.0     1.0  21984.47061
4      32  1.0  28.880         0     0.0     1.0   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50  1.0  30.970         3     0.0     1.0  10600.54830
1334   18  0.0  31.920         0     0.0     0.0   2205.98080
1335   18  0.0  36.850         0     0.0     2.0   1629.83350
1336   21  0.0  25.800         0     0.0     3.0   2007.94500
1337   61  0.0  29.070         0     1.0     1.0  29141.36030

[1338 rows x 7 columns]

`df_["charge"]`는 label `y`로 나머지는 feature `X`로 한다.

이후 train set과 test set으로 나눈다.

In [8]:
from sklearn.model_selection import train_test_split

X = df_.drop("charges", axis=1).values
y = df_["charges"].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

`sklearn.linear_model.LinearRegression`을 이용하여 model을 학습하고, 검증한다.

78.33%의 정확도를 보인다.

In [9]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)
reg.score(X_test, y_test)

0.7833463107364539

## Reference

[sklearn.preprocessing.OrdinalEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html)

[sklearn.linear_model.LinearRegression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)